In [ ]:
#Question 1:

A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

Difference between sql and nosql are:
sql:
    1.These databases have fixed or static or predefined schema
    2.These databases are not suited for hierarchical data storage.
    3.These databases are best suited for complex queries.
    4.Vertically Scalable and follows the ACID property.
    Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc
        
Nosql:
    1.They have dynamic schema
    2.These databases are best suited for hierarchical data storage.
    3.These databases are not so good for complex queries
    4.Horizontally scalable and Follows CAP(consistency, availability, partition tolerance)
    Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

In [ ]:
#Question 2:

Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

1.CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.
Example

CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

2.ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

Example
ALTER TABLE Student_info
ADD CGPA number;

3.TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.

Example
TRUNCATE TABLE Student_info;

4.DROP :
This command is used to remove an existing table along with its structure from the Database.
Example

DROP TABLE Student_info;

In [ ]:
#Question 3:

DML stands for Data Manipulation Language.  DML is a way to inform a database precisely what we want it to do by conversing in a manner that it has been built to comprehend from the scratch. When it comes to interacting within existing data, whether adding, moving, or deleting data, it provides a convenient way to do so.

1.INSERT Command –
This command is used to enter the information or values into a row. We can connect one or more records to a single table within a repository using this instruction. This is often used to connect an unused tag to the documents.
Example

INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))

VALUES ('1', 'Nirmit', 'Gorakhpur'); 

2.UPDATE Command –
This command is used to alter existing table records. Within a table, it modifies data from one or more records. This command is used to alter the data which is already present in a table.
Example

UPDATE students

SET due_fees = 20000

WHERE stu_name = 'Mini'; 

3.DELETE Command –
It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.
Example

DELETE FROM students

WHERE stu_id = '001';

In [ ]:
#Question 4:

The full form of DQL is Data Query Language. DQL is a part of the grouping involved in SQL (Structures Query Language) sub-languages.
SELECT Command-

Select is the most commonly used statement in SQL. The SELECT Statement in SQL is used to retrieve or fetch data from a database
Example

for fetching particular column

SELECT column1,column2 FROM table_name 
column1 , column2: names of the fields of the table
table_name: from where we want to apply query
    
for fetching entire table

 SELECT * FROM table_name; 
 -- asterisks represent all attributes of the table

In [ ]:
#Question 5:

Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

Example:
STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key (only one out of many candidate keys). 

Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 

Example:
STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

In [1]:
#Question 6:

import mysql.connector

mydb = mysql.connector.connect(

    host = 'localhost',
    user = 'root',
    password = 'Rohit@2002'
)
mycursor = mydb.cursor()

In [2]:
mycursor

In [ ]:
The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.

Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.
We can create Cursor object using the cursor() method of the Connection object/class.

execute()

This method accepts a MySQL query as a parameter and executes the given query.

In [ ]:
#Question 7:

Order of execution of SQL clauses

1.FROM -- Tables are joined to get the base data.
2.WHERE -- The base data is filtered.
3.GROUP BY -- The filtered base data is grouped.
4.HAVING -- The grouped base data is filtered.
5.SELECT -- The final data is returned.
6.ORDER BY -- The final data is sorted.
7.LIMIT -- The returned data is limited to row count.